:root {
    /*! Typography - Família da fonte */
    --font-family: 'Montserrat', sans-serif;
    
    /*! Typography - Tamanho da fonte */
    --font-size-h1: 32px;
    --font-size-h2: 28px;
    --font-size-h3: 26px;
    --font-size-h4: 22px;
    --font-size-h5: 20px;
    --font-size-h6: 18px;
    --font-size-display: 36px;
    --font-size-base: 16px;
    --font-size-s: 14px;
    --font-size-xs: 12px;
    --font-size-label: 11px;

    /*! Typography - "Peso" da fonte */
    --font-light: 300;
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*! Color - Brand */
    --color-primary-light: #d9ff63;
    --color-primary: #bada55;
    --color-primary-dark: #94ae44;
    --color-secundary-light: var(--color-neutral-1);
    --color-secundary-dark: var(--color-neutral-8);

    /*! Color - Focus */
    --color-focus-outer: #ffd337;
    --color-focus-inner: var(--color-neutral-10);

    /*! Color - Cores neutras do projeto */
    --color-neutral-0: #fff;
    --color-neutral-1: #f8f8ff;
    --color-neutral-2: #ccc;
    --color-neutral-3: #b2b2b2;
    --color-neutral-4: #999;
    --color-neutral-5: #808080;
    --color-neutral-6: #666;
    --color-neutral-7: #333;
    --color-neutral-8: #212121;
    --color-neutral-9: #1a1a1a;
    --color-neutral-10: #000;
    
    /*! Color - Semântica */
    --color-error-light: #fceaea;
    --color-error: #dc2020;
    --color-warning-light: #fdf6e5;
    --color-warning: #e9a100;
    --color-success-light: #eaf3eb;
    --color-success: #29823b;
    --color-info-light: #e5f5fc;
    --color-info: #017aad;

    /*! Color - Cor do texto para o LIGHT MODE */
    --color-text-lightmode-light: var(--color-neutral-7);
    --color-text-lightmode: var(--color-neutral-8);
    --color-text-lightmode-dark: var(--color-neutral-9);

    /*! Color - Cor de fundo para o LIGHT MODE */
    --color-background-lightmode-light: var(--color-neutral-0);
    --color-background-lightmode: var(--color-neutral-1);
    --color-background-lightmode-dark: var(--color-neutral-2);

    /*! Color - Cor do texto para o DARK MODE */
    --color-text-darkmode-light: var(--color-neutral-0);
    --color-text-darkmode: var(--color-neutral-1);
    --color-text-darkmode-dark: var(--color-neutral-2);

    /*! Color - Cor de fundo para o DARK MODE */
    --color-background-darkmode-light: var(--color-neutral-7);
    --color-background-darkmode: var(--color-neutral-8);
    --color-background-darkmode-dark: var(--color-neutral-9);

    /*! Overlays */
    --overlay-background: rgba(0, 0, 0, 0.25);

    /*! Space - Tamanho dos espaços */
    --space-none: 0;
    --space-xs: 4px;
    --space-s: 8px;
    --space-base: 16px;
    --space-m: 24px;
    --space-l: 32px;
    --space-xl: 40px;
    --space-xxl: 48px;

    /*! Border - Raio da borda */
    --border-radius-none: 0;
    --border-radius-soft: 4px;
    --border-radius-rounded: 100px;
    --border-radius-circle: 100%;

    /*! Border - Tamanho de borda */
    --border-size-none: 0;
    --border-size-s: 1px;
    --border-size-m: 2px;
    --border-size-l: 3px;

    /*! Shadow - Padrões de sombra*/
    --shadow-none: none;
    --shadow-xs: 0 1px 2px rgba(0, 0, 0, 0.1);
    --shadow-s: 0 2px 4px rgba(0, 0, 0, 0.1);
    --shadow-m: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-l: 0 6px 8px rgba(0, 0, 0, 0.1);
    --shadow-xl: 0 8px 10px rgba(0, 0, 0, 0.1);

    /*! Transition */
    --transition: opacity 0.2s ease, visibility 0.2s ease;

    /*! Header - Altura do cabeçalho */
    --header-height-s: calc(var(--space-base) * 3);
    --header-height-m: calc(var(--space-base) * 4);
    --header-height-l: calc(var(--space-base) * 5);

    /*! Footer - Altura do rodapé */
    --footer-height-s: calc(var(--space-base) * 4);
    --footer-height-m: calc(var(--space-base) * 5);
    --footer-height-l: calc(var(--space-base) * 6);
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-weight: var(--font-light);
    min-height: 100vh;
    padding: 0;
    transition: var(--transition);
}

body.light-mode {
    --background-color: var(--color-background-lightmode);
    --background-color-hover: var(--color-background-lightmode-dark);
    --text-color: var(--color-text-lightmode);
    --text-color-hover: var(--color-text-lightmode-dark);
}

body.dark-mode {
    --background-color: var(--color-background-darkmode);
    --background-color-hover: var(--color-background-darkmode-light);
    --text-color: var(--color-text-darkmode);
    --text-color-hover: var(--color-text-darkmode-light);
}

body, 
.header, 
.tooltip,
.theme-btn,
main,
.footer, 
.footer p {
    background-color: var(--background-color);
    color: var(--text-color);
}

body,
.theme-btn:hover {
    background-color: var(--background-color-hover);
}

/* TOOLTIP - Configuração do tooltip padrão */
.tooltip {
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-soft);
    box-shadow: var(--shadow-s);
    font-size: var(--font-size-base);
    max-width: 200px;
    padding: var(--space-s) var(--space-base);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
    white-space: nowrap;
    z-index: 1000;
}

/* TOOLTIP - Mostrar o tooltip */
.tooltip.show {
    visibility: visible;
    opacity: 1;
}

/* TOOLTIP - Esconder o tooltip */
.tooltip.hidden {
    visibility: hidden;
    opacity: 0;
}

/* HEADER | Configurações do cabeçalho */
.header {
    position: fixed;
    border-bottom: var(--border-size-s) solid var(--color-primary);
    box-sizing: border-box;
    height: var(--header-height-l);
    padding: 0 var(--space-m);
    top: 0;
    width: 100vw;
    z-index: 100;
}

/* HEADER | Conteúdo */
.header-content {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

/* HEADER - IDIOMA | Botões para alteração de idioma da página */
.language-switcher {
    display: flex;
    gap: var(--space-base);
    /* margin-left: var(--space-m); */
}

/* HEADER - IDIOMA | Configuração individual dos botões */
.language-switcher img {
    background: none;
    border: none;
    border-radius: var(--border-radius-soft);
    cursor: pointer;
    font-size: var(--font-size-h1);
    max-width: var(--space-l);
    opacity: 0.5;
    padding: 0;
    position: relative; /* Necessário para o posicionamento correto do tooltip */
    transition: var(--transition);
}

/* HEADER - IDIOMA | Quando o mouse passa por cima das bandeiras */
.language-switcher img:hover {
    opacity: 0.75;
}

/* HEADER - IDIOMA | Para garantir que o tooltip não ultrapasse a borda esquerda ou direita da tela */
.language-switcher img:hover + .tooltip, .theme-btn:hover + .tooltip {
    max-width: calc(100% - 20px);
}

/* HEADER - IDIOMA | Quando o idioma está selecionado */
.language-switcher img.selected {
    opacity: 1;
}

/* HEADER - IDIOMA | Tamanho das bandeiras */
.language-switcher .flag-icon {
    max-width: var(--space-base);
    transition: var(--transition);
}

/* HEADER - IDIOMA | Quando o idioma estiver selecionado, a bandeira fica totalmente visível */
.language-switcher .flag-icon:active {
    opacity: 1;
}

/* HEADER - TEMA | Configuração do botão para seleção de tema*/
.theme-btn {
    border: 1px solid var(--color-primary);
    border-radius: var(--border-radius-soft);
    font-size: var(--font-size-base);
    cursor: pointer;
    padding: var(--space-s) var(--space-base);
}

/* HEADER - TEMA | Ajuste do tooltip no botão de troca de tema */
.theme-btn:hover + .tooltip {
    top: calc(100% + 5px); /* Exibe o tooltip abaixo do botão */
    left: 100%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: var(--header-height-l); /* Ajuste da altura do header */
    margin-bottom: var(--footer-height-l); /* Ajuste da altura do footer */
    height: calc(100vh - var(--header-height-l) - var(--footer-height-l)); /* Preenche o restante da tela */
    overflow-y: auto;
    padding: var(--space-base);
}

/* MAIN - Elemento referente à "construção" */
.construction-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: var(--font-bold);
    justify-content: center;
    margin-bottom: var(--space-base);
    text-align: center;
    width: 100%;
}

/* MAIN - CONSTRUCTION | Imagem */
.logo-img {
    max-width: 200px;
    padding: var(--space-base);
}

/* MAIN - CONSTRUCTION | Texto */
.logo-text {
    font-size: var(--font-size-h1);
    font-weight: var(--font-bold);
}

/* FOOTER */
.footer {
    display: flex;
    position: fixed;
    align-items: center;
    border-top: var(--border-size-s) solid var(--color-primary);
    bottom: 0;
    flex-direction: column;
    height: var(--footer-height-m);
    /* justify-content: center; */
    left: 0;
    padding: var(--space-s) 0;
    text-align: center;
    width: 100%;
    z-index: 100;
}

.footer p {
    font-size: var(--font-size-base);
    font-weight: var(--font-regular);
    margin-bottom: 0;
}

.footer .link {
    color: var(--color-primary);
    font-weight: var(--font-regular);
    text-decoration: none;
}

body.light-mode .footer .link:hover {
    color: var(--color-primary-darker);
    text-decoration: none;
}

body.dark-mode .footer .link:hover {
    color: var(--color-primary-lighter);
    text-decoration: none;
}

/* Telas maiores (largura acima de 1366px) */
@media (min-width: 1366px) {
    /* Configurações específicas para telas grandes, se necessário */
    .header {
        height: var(--header-height-l);
    }

    main {
        margin-top: var(--header-height-l);
        margin-bottom: var(--footer-height-l);
        height: calc(100vh - var(--header-height-l) - var(--footer-height-l));
        overflow-y: auto;
    }

    .footer {
        height: var(--footer-height-l);
    }
}

/* Telas menores (celulares e tablets) */
@media (max-width: 768px) {

    /* Ajustar a altura do header */
    .header {
        height: var(--header-height-m);
        padding: 0 var(--space-s);
    }

    /* O conteúdo principal deve ocupar a altura restante */
    main {
        margin-top: var(--header-height-m);
        margin-bottom: var(--footer-height-m);
        height: calc(100vh - var(--header-height-m) - var(--footer-height-m));
        overflow-y: auto;
    }

    /* Centralização vertical no conteúdo */
    /* .content {
        justify-content: center;
    } */

    /* Elemento referente à "construção" */
    .construction-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-weight: var(--font-bold);
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .logo-img {
        max-width: 300px;
        margin-bottom: var(--space-xs);
    }
    
    .logo-text {
        font-size: var(--font-size-h2);
        font-weight: var(--font-bold);
    }

    /* Ajustar a altura do footer */
    .footer {
        height: var(--footer-height-m);
    }
}